
<% provide :head_tags do %>
    <script>
    
    <%= @lng = Address.find(Building.first[:address_id])[:latitude]%>
    <%= @lat = Address.find(Building.first[:address_id])[:longitude]%>
    <% p "lng : " + @lng.to_s %>
    <% p "lat : " + @lat.to_s %>
    cosole.log ("this is a test")


    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@lat%>, <%=@lng%>)
    });
    </script>
<% end %>


 
  <body>
    <h3 id="map-title">My Google Maps Demo</h3>
    <!--The div element for the map -->

    <%# <% lng = Address.find(Building.first[:address_id])[:latitude]%> 
    <%# <% lat = Address.find(Building.first[:address_id])[:longitude]%> 

    <div id="map"></div>
  </body>

