/* Always set the map height explicitly to define the size of the div
       * element that contains the map.*/
       #maps{
        height: 400px;
        width: 100%;


        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
      }

      


    
