



 
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->

    <% lng = Address.find(Building.first[:address_id])[:latitude]%>
    <% lat = Address.find(Building.first[:address_id])[:longitude]%>

    <div id="map"></div>
  </body>
