<h1>Map Page</h1>

<p>
<%
testlat = 38.867033
testlon = -76.979235
%>
<%= image_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["google_maps_api_key"]}]", alt: "Map1" %>

<%
puts testlat
puts testlon
puts ENV["google_maps_api_key"]
%>

</p>

<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{testlat},#{testlon}&key=#{ENV["google_maps_api_key"]}", alt: "Map2" %>
</p>

<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=#{ENV["google_maps_api_key"]}", alt: "Map3" %>
</p>